# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\wever\Desktop\FEI\4 - Semestre\CA4322 - CÁLCULO NUMÉRICO\Projeto\DatasetAnalysisProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
